In [20]:
import requests
import pandas as pd

In [24]:
inv_orlfl = requests.get("https://api.mashvisor.com/v1.1/client/airbnb-property/23782442/historical?state=FL", headers={'x-api-key':'7b9581e3-5b45-4fbc-8f59-d3379db49449'})
rinv_orlfl = inv_orlfl.json()
rinv_orlfl

{'status': 'success',
 'content': {'name': 'Cozzy modern spacious 2B/2Bth',
  'airbnb_id': '10117384',
  'months': [{'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 5,
    'nightly_price': 99,
    'revenue': 891,
    'occupancy': 9,
    'unbooked_nights': 22,
    'occupancy_rate': 29},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 6,
    'nightly_price': 99,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 30,
    'occupancy_rate': 0},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 7,
    'nightly_price': 99,
    'revenue': 1188,
    'occupancy': 12,
    'unbooked_nights': 19,
    'occupancy_rate': 39},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 8,
    'nightly_price': 99,
    'revenue': 891,
    'occupancy': 9,
    'unbooked_nights': 22,
    'occupancy_rate': 29},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 9,
    'nightly_price': 99,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 30,
    'occupancy_rate': 0},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 10,
    'nightly_price': 99,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 31,
    'occupancy_rate': 0},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 11,
    'nightly_price': 105,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 30,
    'occupancy_rate': 0},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2020,
    'month': 12,
    'nightly_price': 120,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 31,
    'occupancy_rate': 0},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2021,
    'month': 1,
    'nightly_price': 99,
    'revenue': 1782,
    'occupancy': 18,
    'unbooked_nights': 13,
    'occupancy_rate': 58},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2021,
    'month': 2,
    'nightly_price': 99,
    'revenue': 495,
    'occupancy': 5,
    'unbooked_nights': 23,
    'occupancy_rate': 18},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2021,
    'month': 3,
    'nightly_price': 99,
    'revenue': 3069,
    'occupancy': 31,
    'unbooked_nights': 0,
    'occupancy_rate': 100},
   {'airbnb_id': '10117384',
    'name': 'Cozzy modern spacious 2B/2Bth',
    'year': 2021,
    'month': 4,
    'nightly_price': 99,
    'revenue': 693,
    'occupancy': 7,
    'unbooked_nights': 23,
    'occupancy_rate': 23}]}}

In [42]:
rinv_orlfla = pd.DataFrame.from_dict(rinv_orlfl['content']['months']) 
rinv_orlfla_del = rinv_orlfla.drop(columns=['airbnb_id', 'name',])
rinv_orlfla_del

,year,month,nightly_price,revenue,occupancy,unbooked_nights,occupancy_rate
0,2020,5,99,891,9,22,29
1,2020,6,99,0,0,30,0
2,2020,7,99,1188,12,19,39
3,2020,8,99,891,9,22,29
4,2020,9,99,0,0,30,0
5,2020,10,99,0,0,31,0
6,2020,11,105,0,0,30,0
7,2020,12,120,0,0,31,0
8,2021,1,99,1782,18,13,58
9,2021,2,99,495,5,23,18
10,2021,3,99,3069,31,0,100
11,2021,4,99,693,7,23,23

In [43]:
orl_fla = requests.get("https://api.mashvisor.com/v1.1/client/airbnb-property/23782274/historical?state=FL", headers={'x-api-key':'7b9581e3-5b45-4fbc-8f59-d3379db49449'})
orlando_fl = orl_fla.json()
orlando_fl

{'status': 'success',
 'content': {'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
  'airbnb_id': '10342217',
  'months': [{'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 5,
    'nightly_price': 232,
    'revenue': 6493,
    'occupancy': 28,
    'unbooked_nights': 3,
    'occupancy_rate': 90},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 6,
    'nightly_price': 236,
    'revenue': 5659,
    'occupancy': 24,
    'unbooked_nights': 6,
    'occupancy_rate': 80},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 7,
    'nightly_price': 253,
    'revenue': 6327,
    'occupancy': 25,
    'unbooked_nights': 6,
    'occupancy_rate': 81},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 8,
    'nightly_price': 221,
    'revenue': 5956,
    'occupancy': 27,
    'unbooked_nights': 4,
    'occupancy_rate': 87},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 9,
    'nightly_price': 195,
    'revenue': 4279,
    'occupancy': 22,
    'unbooked_nights': 8,
    'occupancy_rate': 73},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 10,
    'nightly_price': 249,
    'revenue': 7231,
    'occupancy': 29,
    'unbooked_nights': 2,
    'occupancy_rate': 94},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 11,
    'nightly_price': 234,
    'revenue': 5157,
    'occupancy': 22,
    'unbooked_nights': 8,
    'occupancy_rate': 73},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2020,
    'month': 12,
    'nightly_price': 317,
    'revenue': 8247,
    'occupancy': 26,
    'unbooked_nights': 5,
    'occupancy_rate': 84},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2021,
    'month': 3,
    'nightly_price': 304,
    'revenue': 9423,
    'occupancy': 31,
    'unbooked_nights': 0,
    'occupancy_rate': 100},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2021,
    'month': 4,
    'nightly_price': 332,
    'revenue': 7962,
    'occupancy': 24,
    'unbooked_nights': 6,
    'occupancy_rate': 80},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2021,
    'month': 1,
    'nightly_price': 227,
    'revenue': 4082,
    'occupancy': 18,
    'unbooked_nights': 13,
    'occupancy_rate': 58},
   {'airbnb_id': '10342217',
    'name': 'Lakefront Tropical Oasis w/ Pool, Hot Tub, Boating',
    'year': 2021,
    'month': 2,
    'nightly_price': 245,
    'revenue': 5882,
    'occupancy': 24,
    'unbooked_nights': 4,
    'occupancy_rate': 86}]}}

In [44]:
orlando_fla = pd.DataFrame.from_dict(orlando_fl['content']['months'])
orlando_fla_drop = orlando_fla.drop(columns=['airbnb_id', 'name',])
orlando_fla_drop

,year,month,nightly_price,revenue,occupancy,unbooked_nights,occupancy_rate
0,2020,5,232,6493,28,3,90
1,2020,6,236,5659,24,6,80
2,2020,7,253,6327,25,6,81
3,2020,8,221,5956,27,4,87
4,2020,9,195,4279,22,8,73
5,2020,10,249,7231,29,2,94
6,2020,11,234,5157,22,8,73
7,2020,12,317,8247,26,5,84
8,2021,3,304,9423,31,0,100
9,2021,4,332,7962,24,6,80
10,2021,1,227,4082,18,13,58
11,2021,2,245,5882,24,4,86

In [45]:
rinv_orlflor = requests.get("https://api.mashvisor.com/v1.1/client/airbnb-property/23783498/historical?state=FL", headers={'x-api-key':'7b9581e3-5b45-4fbc-8f59-d3379db49449'})
orl_flor = rinv_orlflor.json()
orl_flor

{'status': 'success',
 'content': {'name': 'Location Location Location in Historic Winter Park',
  'airbnb_id': '10400432',
  'months': [{'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 5,
    'nightly_price': 350,
    'revenue': 1050,
    'occupancy': 3,
    'unbooked_nights': 28,
    'occupancy_rate': 10},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 6,
    'nightly_price': 230,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 30,
    'occupancy_rate': 0},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 7,
    'nightly_price': 207,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 31,
    'occupancy_rate': 0},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 8,
    'nightly_price': 230,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 31,
    'occupancy_rate': 0},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 9,
    'nightly_price': 230,
    'revenue': 1380,
    'occupancy': 6,
    'unbooked_nights': 24,
    'occupancy_rate': 20},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 10,
    'nightly_price': 230,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 31,
    'occupancy_rate': 0},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 11,
    'nightly_price': 218,
    'revenue': 6550,
    'occupancy': 30,
    'unbooked_nights': 0,
    'occupancy_rate': 100},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2020,
    'month': 12,
    'nightly_price': 230,
    'revenue': 1150,
    'occupancy': 5,
    'unbooked_nights': 26,
    'occupancy_rate': 16},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2021,
    'month': 1,
    'nightly_price': 230,
    'revenue': 6900,
    'occupancy': 30,
    'unbooked_nights': 1,
    'occupancy_rate': 97},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2021,
    'month': 2,
    'nightly_price': 230,
    'revenue': 6440,
    'occupancy': 28,
    'unbooked_nights': 0,
    'occupancy_rate': 100},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2021,
    'month': 3,
    'nightly_price': 230,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 31,
    'occupancy_rate': 0},
   {'airbnb_id': '10400432',
    'name': 'Location Location Location in Historic Winter Park',
    'year': 2021,
    'month': 4,
    'nightly_price': 190,
    'revenue': 0,
    'occupancy': 0,
    'unbooked_nights': 30,
    'occupancy_rate': 0}]}}

In [46]:
orlando_flor = pd.DataFrame.from_dict(orl_flor['content']['months'])
orlando_flor_drop = orlando_flor.drop(columns=['airbnb_id', 'name',])
orlando_flor_drop

,year,month,nightly_price,revenue,occupancy,unbooked_nights,occupancy_rate
0,2020,5,350,1050,3,28,10
1,2020,6,230,0,0,30,0
2,2020,7,207,0,0,31,0
3,2020,8,230,0,0,31,0
4,2020,9,230,1380,6,24,20
5,2020,10,230,0,0,31,0
6,2020,11,218,6550,30,0,100
7,2020,12,230,1150,5,26,16
8,2021,1,230,6900,30,1,97
9,2021,2,230,6440,28,0,100
10,2021,3,230,0,0,31,0
11,2021,4,190,0,0,30,0

In [53]:
orl_airbnb = pd.
orl_airbnb

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid